fastapi==0.109.2
uvicorn[standard]==0.27.1
insightface==0.7.3
onnxruntime
opencv-python-headless
numpy
python-multipart==0.0.9
pydantic==2.6.1
pydantic-settings==2.1.0
requests==2.31.0
python-dotenv==1.0.1
